<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>

<pre id="editor"></pre>

<script src="/js/editor/ace.js" type="text/javascript" />
<script src="/js/doc/main.js" type="text/javascript" />

</body>
</html>