<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Interview Tool</title>
</head>
<body>
    This is an Online Interview Tool!
    Click <a href="./d/">here</a> to create a new document.
</body>
</html>